/* Laptop */
@media(max-width:1440px) {
    /* --------------------------------------------- Daughtter ---------------------------------------------- */

    .daug-hter {
        height: auto;
        min-height: 700px;
    }

    /* --------------------------------------------- Daughtter ---------------------------------------------- */


    /* -------------------------------------------- Prophetic ---------------------------------------------- */

    .pro-phetic {
        height: auto;
        min-height: 600px;
    }

    /* -------------------------------------------- Prophetic ---------------------------------------------- */


    /* ------------------------------------------------ Join ----------------------------------------------- */

    #bg-image {
        height: auto;
        min-height: 600px;
    }

    /* ------------------------------------------------ Join ----------------------------------------------- */


    /* ------------------------------------------ May-you/may-these ----------------------------------------- */

    #bg-1-image,
    #bg-2-image {
        height: auto;
        min-height: 400px;
    }

    /* ------------------------------------------ May-you/may-these ----------------------------------------- */

}


@media(max-width:1280px) {}


@media(max-width:1199px) {

    /* ---------------------------------------------- About ------------------------------------------------ */

    .ab-out .contener .circle {
        margin-right: 88px;
    }

    /* ---------------------------------------------- About ------------------------------------------------ */


    /* ----------------------------------------------- Daily ----------------------------------------------- */

    .da-ily .content {
        column-gap: 35px;
    }

    .da-ily figure {
        column-gap: 12px;
    }

    /* ----------------------------------------------- Daily ----------------------------------------------- */


    /* --------------------------------------------- Teching ----------------------------------------------- */

    .te-ching .circle {
        max-width: 285px;
        padding: 36px;

    }

    /* --------------------------------------------- Teching ----------------------------------------------- */


    /* ----------------------------------------------- Footer ---------------------------------------------- */

    #footer .middle {
        margin: 20px;
        padding: 40px;
    }

    /* ----------------------------------------------- Footer ---------------------------------------------- */
}


/* Tablet */
@media(max-width:1024px) {

    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 40px;
    }

    /* ------------------------------------------------ Header --------------------------------------------- */
    s .nav-bar {
        padding: 0px;
    }

    .nav-bar .contener {
        display: block;
    }

    .nav-bar .moniter {
        display: none;
    }

    .nav-bar .mobile {
        display: block;
    }

    .nav-bar .contener div:first-child img {
        padding: 20px 15px;
        max-width: 135px;
    }

    .nav-bar .mobile nav ul li {
        padding: 20px 15px;
    }

    /* ------------------------------------------------ Header --------------------------------------------- */


    /* --------------------------------------------- Daughtter ---------------------------------------------- */

    .daug-hter {
        min-height: 650px
    }

    /* --------------------------------------------- Daughtter --------------------------------------------- */


    /* --------------------------------------------- Teching ----------------------------------------------- */

    .slider-wrapper {
        max-width: 662px;
    }

    .te-ching .rev-item.rev-center-active .circle {
        background-color: var(--rev-wh-color);
        color: var(--rev-bl-color);
    }

    .te-ching .rev-item.rev-center-active .circle img {
        filter: brightness(0) invert(0);
    }

    /* --------------------------------------------- Teching ----------------------------------------------- */


    /* ----------------------------------------------- Footer ---------------------------------------------- */

    #footer .content {
        flex-direction: column;
        padding: 30px 0px;
    }

    #footer .middle {
        border: none;
    }

    /* ----------------------------------------------- Footer ---------------------------------------------- */



    /* ------------------------------------------ Decrees and prayers ----------------------------------------- */
    /* ---------------------------------------------- Prayars ----------------------------------------------- */

    .pra-yers .content {
        flex-wrap: wrap;
        column-gap: 0px;
        row-gap: 30px;

    }

    .pra-yers .pra-slid {
        flex: 0 0 calc(50%);
    }

    /* ---------------------------------------------- Prayars ----------------------------------------------- */
    /* ------------------------------------------ Decrees and prayers ----------------------------------------- */

}


@media(max-width:991px) {
    p {
        font-size: 16px;
    }

    /* ---------------------------------------------- About ------------------------------------------------ */

    .ab-out .contener .text {
        row-gap: 25px;
    }

    .ab-out .contener .text p:first-child {
        margin-bottom: 15px;
    }

    .ab-out .contener .text p {
        margin-bottom: 35px;
    }

    /* ---------------------------------------------- About ------------------------------------------------ */

    /* --------------------------------------------- About-Us ----------------------------------------------- */

    /* ----------------------------------------------- Journey ---------------------------------------------- */

    .jour-ney .contener .text div img {
        border-radius: 5px 125px;
    }

    /* ----------------------------------------------- Journey ---------------------------------------------- */

    /* -------------------------------------------- About-Us ----------------------------------------------- */



    /* ------------------------------------------- Prophetic-Scrolls ------------------------------------------- */
    /* ---------------------------------------------- Archives ---------------------------------------------- */

    .ar-chive .box {
        border-top-left-radius: 115px;
    }

    #box-right {
        border-top-right-radius: 115px;
    }

    /* ---------------------------------------------- Archives ---------------------------------------------- */
    /* ------------------------------------------- Prophetic-Scrolls ------------------------------------------- */

}


/* Mobile */
@media(max-width:768px) {
    h1 {
        font-size: 45px;
    }

    /* --------------------------------------------- Daughtter ---------------------------------------------- */

    .daug-hter {
        min-height: 550px
    }

    /* --------------------------------------------- Daughtter --------------------------------------------- */

    .daug-hter .contener p,
    .appoint-ment .contener p {
        font-size: 16px;
    }

    /* ------------------------------------------- Appointment ---------------------------------------------- */

    .appoint-ment h2 {
        font-size: 25px;
    }

    .appoint-ment {
        margin-top: -38px;
    }

    .appoint-ment img {
        width: 200px;
    }

    .appoint-ment .contener {
        padding: 60px 15px;
    }

    /* ------------------------------------------- Appointment --------------------------------------------- */


    /* ---------------------------------------------- About ------------------------------------------------ */

    .ab-out {
        padding: 0px 25px 60px;
    }

    .ab-out .contener {
        flex-direction: column;
    }

    .ab-out .contener .circle {
        width: 100%;

    }

    .ab-out .contener .text {
        width: 100%;
    }

    .ab-out .contener .text img {
        max-width: 195px;
    }

    /* ---------------------------------------------- About ------------------------------------------------ */


    /* -------------------------------------------- Prophetic ---------------------------------------------- */

    .pro-phetic {
        min-height: 390px;
        padding: 60px 15px;
    }

    /* -------------------------------------------- Prophetic ---------------------------------------------- */


    /* ----------------------------------------------- Daily ----------------------------------------------- */

    .da-ily {
        padding: 60px 15px;
    }

    .da-ily .content {
        flex-direction: column;
        row-gap: 20px;
    }

    .da-ily .image {
        width: 100%;
    }

    .da-ily .text {
        width: 100%;
    }

    /* ----------------------------------------------- Daily ----------------------------------------------- */


    /* --------------------------------------------- Teching ----------------------------------------------- */

    .te-ching {
        margin-top: 0px;
        padding: 60px 15px;
    }

    .slider-wrapper {
        max-width: 316px;
    }

    /* --------------------------------------------- Teching ----------------------------------------------- */


    /* ------------------------------------------------ Join ----------------------------------------------- */


    #bg-image {
        min-height: 400px;
    }

    /* ------------------------------------------------ Join ----------------------------------------------- */


    /* ---------------------------------------------- Footer ------------------------------------------------ */

    #footer {
        margin-top: -230px;
        padding-top: 270px;
    }

    /* ---------------------------------------------- Footer ------------------------------------------------ */



    /* --------------------------------------------- About-Us ---------------------------------------------- */

    /* ----------------------------------------------- Journey ---------------------------------------------- */

    .jour-ney {
        padding: 60px 15px;
    }

    .jour-ney .contener .text {
        flex-direction: column;
        row-gap: 25px;
    }

    .jour-ney .contener .text p {
        width: 100%;
    }

    .jour-ney .contener .text div {
        width: 100%;
    }

    /* ----------------------------------------------- Journey ---------------------------------------------- */

    /* --------------------------------------------- About-Us ----------------------------------------------- */



    /* ------------------------------------------ May-you/may-these ----------------------------------------- */

    #bg-1-image,
    #bg-2-image {
        height: auto;
        min-height: 250px;
    }

    /* ------------------------------------------ May-you/may-these ----------------------------------------- */


    /* ----------------------------------------- Prophetic-Scrolls ------------------------------------------ */
    /* ----------------------------------------------- scroll ----------------------------------------------- */
    #pro-about .contener .circle-1 {
        width: 100%;
    }

    /* ----------------------------------------------- scroll ----------------------------------------------- */

    /* --------------------------------------------- Unmasking --------------------------------------------- */

    #unmasking {
        padding: 60px 25px;
    }

    #unmasking .content {
        flex-direction: column;
    }

    /* --------------------------------------------- Unmasking --------------------------------------------- */
    /* ----------------------------------------- Prophetic-Scrolls ------------------------------------------ */



    /* ------------------------------------------- Prophetic-Scrolls ------------------------------------------- */
    /* ---------------------------------------------- Archives ---------------------------------------------- */

    .ar-chive {
        padding: 60px 15px;
    }

    .ar-chive .box {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 25px;
        border-top-left-radius: 210px;
    }

    #box-right {
        border-radius: 210px 10px 10px 10px;
    }

    #box-right .second {
        order: 2;
    }

    .ar-chive .heading {
        flex-direction: column;
        row-gap: 10px;
    }

    /* ---------------------------------------------- Archives ---------------------------------------------- */


    /* ---------------------------------------------- Reciving ---------------------------------------------- */
    #reciving::before {
        background: linear-gradient(90deg, rgba(9, 2, 2, 0.5) 100%, rgb(254, 255, 253, 0) 100%);
    }

    /* ---------------------------------------------- Reciving ---------------------------------------------- */
    /* ------------------------------------------- Prophetic-Scrolls ------------------------------------------- */




    /* ------------------------------------------ Decrees and prayers ----------------------------------------- */
    /* ---------------------------------------------- Authority ---------------------------------------------- */

    #authority {
        padding: 60px 25px;
    }

    #authority .contener .content {
        flex-direction: column;
    }

    #authority .container {
        width: 100%;
    }

    /* ---------------------------------------------- Authority ---------------------------------------------- */


    /* ---------------------------------------------- Prayars ----------------------------------------------- */

    .pra-yers .pra-slid {
        flex: 0 0 calc(100%);
    }

    /* ---------------------------------------------- Prayars ----------------------------------------------- */

    /* ----------------------------------------- Decrees and prayers ---------------------------------------- */




}


@media(max-width:640px) {}


@media(max-width:480px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 30px;
    }

    a {
        font-size: 15px;
    }

    .btn a {
        padding: 12px 15px;
        font-size: 15px;
    }

    .daug-hter .contener p,
    .appoint-ment .contener p {
        font-size: 14px;
    }

    /* ------------------------------------------------ Header --------------------------------------------- */

    .nav-bar .contener div:first-child img {
        padding: 9px 12px;
        max-width: 109px;
    }

    /* ------------------------------------------------ Header --------------------------------------------- */
    /* --------------------------------------------- Daughtter ---------------------------------------------- */

    .daug-hter {
        height: 350px;
    }

    .daug-hter .img-button {
        width: 150px;
    }

    /* --------------------------------------------- Daughtter ---------------------------------------------- */


    /* ------------------------------------------- Appointment --------------------------------------------- */

    .appoint-ment h2 {
        font-size: 20px;
    }

    .appoint-ment {
        margin-top: -29px;
    }



    /* ------------------------------------------- Appointment ---------------------------------------------- */


    /* ---------------------------------------------- About ------------------------------------------------- */

    .ab-out .contener .circle img:first-child {
        max-width: 205px;
    }

    .ab-out .contener .circle img:nth-child(2) {
        top: -72px;
    }

    .ab-out .contener .circle img:last-child {
        top: 117px;
    }

    /* ---------------------------------------------- About ------------------------------------------------- */


    /* -------------------------------------------- Prophetic ----------------------------------------------- */

    .pro-phetic::before {
        background: linear-gradient(90deg, rgba(9, 2, 2, 0.7) 0%, rgb(254, 255, 253, 0) 100%);
    }

    .pro-phetic .contener {
        row-gap: 10px;
    }

    .pro-phetic .contener p {
        width: 100%;
        margin: 8px 0px 20px;
    }

    /* -------------------------------------------- Prophetic ----------------------------------------------- */



    /* --------------------------------------------- About-Us ----------------------------------------------- */

    /* ----------------------------------------------- Journey ---------------------------------------------- */

    .jour-ney .contener .text div img {
        border-radius: 5px 125px;
    }

    /* ----------------------------------------------- Journey ---------------------------------------------- */

    /* -------------------------------------------- About-Us ----------------------------------------------- */



    /* ----------------------------------------- Prophetic-Scrolls ------------------------------------------ */
    /* ----------------------------------------------- scroll ----------------------------------------------- */

    #pro-about .contener .circle-1 img:last-child {
        border-radius: 60px 0px;
        top: -30px
    }

    #pro-about .contener .circle-1 img:first-child {
        max-width: 167px
    }

    /* ----------------------------------------------- scroll ----------------------------------------------- */
    /* ----------------------------------------- Prophetic-Scrolls ------------------------------------------ */



    /* ------------------------------------------- Prophetic-Scrolls ------------------------------------------- */
    /* ---------------------------------------------- Archives ---------------------------------------------- */

    .ar-chive .ar-head {
        margin-bottom: 40px;
    }

    .ar-chive .box,
    #box-right {
        border-top-left-radius: 190px;
    }


    /* ---------------------------------------------- Archives ---------------------------------------------- */
    /* ------------------------------------------- Prophetic-Scrolls ------------------------------------------- */
}


@media(max-width:390px) {

    /* ---------------------------------------------- About ------------------------------------------------- */

    .ab-out .contener .circle img:first-child {
        max-width: 175px;
        top: 74px;
    }

    .ab-out .contener .circle img:nth-child(2) {
        top: -50px;
    }

    /* ---------------------------------------------- About ------------------------------------------------- */


    /* --------------------------------------------- Teching ----------------------------------------------- */

    .te-ching .text {
        padding: 0px 15px;
    }

    .rev-arrow {
        top: 70%;
    }

    .te-ching .circle {
        width: 250px;
    }

    .te-ching .circle img {
        width: 110px;
    }

    /* --------------------------------------------- Teching ----------------------------------------------- */


    /* ------------------------------------------------ Join ----------------------------------------------- */

    #bg-image {
        min-height: 250px;
    }

    /* ------------------------------------------------ Join ----------------------------------------------- */




    /* ------------------------------------------ May-you/may-these ----------------------------------------- */

    #bg-1-image,
    #bg-2-image {
        height: auto;
        min-height: 280px;
    }

    /* ------------------------------------------ May-you/may-these ----------------------------------------- */



    /* ----------------------------------------- Prophetic-Scrolls ------------------------------------------ */
    /* ----------------------------------------------- scroll ----------------------------------------------- */

    #pro-about .contener .circle-1 img:first-child {
        max-width: 130px
    }

    /* ----------------------------------------------- scroll ----------------------------------------------- */
    /* ----------------------------------------- Prophetic-Scrolls ------------------------------------------ */



    /* ------------------------------------------- Prophetic-Scrolls ------------------------------------------- */
    /* ---------------------------------------------- Archives ---------------------------------------------- */

    .ar-chive .box,
    #box-right {
        border-top-left-radius: 150px;
    }


    /* ---------------------------------------------- Archives ---------------------------------------------- */
    /* ------------------------------------------- Prophetic-Scrolls ------------------------------------------- */

}


/* min-width means above the 320px on all screens */
@media(min-width:320px) {}